# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/public/css/style.css
/public/fonts
.publish

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log

.DS_Store