@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
$font-family-base: 'Lato', sans-serif;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "bower_components/components-font-awesome/scss/font-awesome";
@import "node_modules/react-select/dist/react-select";
@import "node_modules/react-datepicker/dist/react-datepicker";
@import "./spinner.scss";

$header-color: #32404e;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;

  > .container {
    padding: 30px 15px 0;
  }
}

nav.navbar {
  line-height: 70px;
  height: 75px;
  padding-top: 0;
  background-color: #32404e;
  border-radius: 0;
  border-bottom: 4px solid #4cae4c;

  .container {
    width: 98%;
  }
}

.header {
  @extend h4;
  font-size: 35px;
  font-weight: 600;

  a {
    color: $header-color;
    text-decoration: none;
    &:hover {
      color: $header-color;
    }
  }

  a:link{
    font-size: inherit;
    font-weight: inherit;
  }

  .phase {
    color: #4cae4c;
    font-size: 20px;
  }
}

.header-condensed {
  font-size: 18px;
  font-weight: 500;

  .phase {
    font-size: 13px;
    font-weight: 700;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  p {
    margin: 20px 0;
  }
}

.keyword-input, .category-input, .date-input, .search-button-col {
  padding-bottom: 10px;
  padding-left: 10px;
 }

 .row{
  padding-left: 10px;
 }

 .expanded-bottom-row{
  margin-bottom: 100px;
 }

 .expanded-row{
  width: 620px;
  margin-right: auto;
  margin-left: auto;
 }

 .search-button-col{
  padding-top: 10px;
 }

.category-input .Select {
 }

.articles {
  padding-bottom: 64px;
  .article {
    .title {
      font: 500 normal 1.375em Lato,sans-serif;
      a {
        color: #248dc1;
      }
    }
    .url {
      font: 300 normal 1em Lato,sans-serif;
      a {
        color: #4cae4c;
      }
    }
    .snippet {
      font: normal normal 1.125em 'Lato', sans-serif;
    }
  }
}

#search-button {
  float: right;
}

.container {
  width: 100%;
}

.pagination a:link{
  font-family: FontAwesome;
}

#query-field{
  box-sizing: content-box;
}

#search-button{
  background-color: #0078E7;
  border: none; 
  border-radius: 5px;
}
